{% extends "base.html.twig" %}
{% block body %}
    <div class="card text-center">
        <div class="card-header">{{ task['cat_name'] }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ task['title'] }}</h5>
            <p class="card-text">{{ task['description'] }}</p>
        </div>
        <div class="card-footer text-muted">Выполнено: {{ task['is_done'] ? '+' : '-' }}</div>
        <div class="card-footer text-muted">Дата: {{ task['task_date']}}</div>
        <div class="card-footer text-muted">Создан: {{ task['created_at']}}</div>
        <div class="card-footer text-muted">Обновлён: {{ task['created_at']}}</div>
    </div>
{% endblock %}